<% include ../partials/header %>

<div class="container">

	<div class="card" style="margin: 2%;max-height: 1000px">

			<div class="row">

				<div class="col-lg-4" style="background-image: url(<%= post.author.userImage %>); background-position: center; background-size: cover">
				</div>					

				<div class="col-lg-8">
					
					<div class="card-body">
						<div class="row">
							<div class="col-lg-7 card-title">
								<a style = "color:black; text-decoration:none;" href="/users/<%=post.author.id%>"><strong><%=post.author.userName%> says...</strong></a>
							</div>
							<div class="col-lg-3  mb-2 text-muted">
								<%=moment(post.createdAt).fromNow()%>
							</div>
							<div class="col-lg-1">
								<div class="dropdown">
									<button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<% if(currentUser && currentUser._id.equals(post.author.id)){ %>
											<a href="/posts/<%=post._id%>/edit" class = "dropdown-item">Edit</a>
											<form action="/posts/<%=post._id%>?_method=DELETE" method = "POST">
												<button type = "submit" class="dropdown-item">Delete</button>
											</form>
										<% } else { %>
											<a class="dropdown-item" href="/">Report</a>
									 	<% } %>
									</div>
								</div>
							</div>
						</div>
						<div class="card-text">
								<%= post.text %>
 						</div>

							<div class="row">
								<div class="col-lg-9">					
									<div class="btn-group">
										<% if(currentUser && post.upvotes.indexOf(currentUser._id) === -1){ %>

											<form action="/posts/<%=post._id%>/vote/up?_method=PUT" method = "POST">
												<button class="btn btn-success">
													<i class="fas fa-arrow-up"></i>
												</button>
											</form>

										<% } else { %>


											<form action="/posts/<%=post._id%>/vote/up?_method=PUT" method = "POST">
												<button class="btn btn-outline-success ">
													<i class="fas fa-arrow-up"></i>
												</button>
											</form>


										<% } %>

										<% if(currentUser && post.downvotes.indexOf(currentUser._id) === -1) { %>


											<form action="/posts/<%=post._id%>/vote/down?_method=PUT" method = "POST">
												<button class="btn btn-success">
													<i class="fas fa-arrow-down"></i>
												</button>  
											</form>

										<% } else { %>

											<form action="/posts/<%=post._id%>/vote/down?_method=PUT" method = "POST">
												<button class="btn btn-outline-success">
													<i class="fas fa-arrow-down"></i>
												</button>  
											</form>

										<% } %>


										<button type="button" class="btn btn-outline-dark disabled"><%= post.upvotes.length - post.downvotes.length %></button>
				
											

									</div>
								</div>			
							</div>



					</div>
				</div>
			</div>
		</div>

		
	<h3>Comments:</h3>

	<% if( currentUser) { %> 

		<div id = "postForm">
			
			<form action="/posts/<%=post._id%>" method="POST">
				<div class="form-group">
			    	<textarea id = "postText" class = "form-control" rows = 3 name = "comment[text]"></textarea>
				</div>
			<button class="btn btn-success btn-block" >
				<i class="icon edit"></i> Add new Comment</button>
			</form>

		</div>

	<% } %>


	<div class="ui comments" style="margin-left: 20px">
		

	<% post.comments.forEach(function(comment){ %>

		<div class="row" style= "padding: 1Opx">
				
			<div class="col-lg-7">
				
			    <strong><a><%= comment.author.username%></a></strong>
			    <div class="text">
			      	<%= comment.text %>
			    </div>

			</div>

			<div class="col-lg-3">
		      <div style="display: inline;" class="date"><%= moment(comment.createdAt).fromNow()%></div>
			</div>

			<div class="col-lg-1">
				<div class="dropdown">
					<button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<% if(currentUser && ( currentUser._id.equals(comment.author.id) ||currentUser._id.equals(post.author.id))){ %>
							<a class="dropdown-item" href="/posts/<%=post._id%>/<%=comment._id%>/edit">Edit</a>
							<form action="/posts/<%=post._id%>/<%=comment._id%>?_method=DELETE" method = "POST" >
								<button type="submit" class="dropdown-item" href="#">Delete</button>
							</form>
						<% } else { %>
							<a class="dropdown-item" href="/">Report</a>
						<% } %>
					</div>
				</div>
			</div>

			
		</div>
		<hr width="30%">

	<% }); %>

		
	</div>



</div>
	







<% include ../partials/footer %>